In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import re
import csv
import json
import nltk
from rake_nltk import Rake
from pandas.io.json import json_normalize
from matplotlib import pyplot as plt
plt.style.use('ggplot')

In [2]:
filename = '/home/claire/Documents/jobs/milieu/milieu-noumea/noumea-analysis/python-noumea-sept5.csv'
df = pd.DataFrame.from_csv(filename, header=0, sep=',', index_col=0)
pd.options.display.max_columns = 999
df

,participant_id,email,age,enable_receive_emails,lives_in_noumea,months_lived_in_noumea,neighbourhood,text_q1-1,text_q1-10,text_q1-11,text_q1-2,text_q1-3,text_q1-4,text_q1-5,text_q1-6,text_q1-7,text_q1-8,text_q1-9,text_q1-comment,text_q2-1,text_q2-10,text_q2-11,text_q2-12,text_q2-13,text_q2-14,text_q2-2,text_q2-3,text_q2-4,text_q2-5,text_q2-6,text_q2-7,text_q2-8,text_q2-9,text_q2-comment,text_q3-1,text_q3-10,text_q3-2,text_q3-3,text_q3-4,text_q3-5,text_q3-6,text_q3-7,text_q3-8,text_q3-9,text_q3-comment,text_q4-1,text_q4-10,text_q4-11,text_q4-12,text_q4-13,text_q4-2,text_q4-3,text_q4-4,text_q4-5,text_q4-6,text_q4-7,text_q4-8,text_q4-9,text_q4-comment,text_q5-1,text_q5-2,text_q5-3,text_q5-4,text_q5-5,text_q5-6,text_q5-7,text_q5-8,text_q5-9,text_q5-comment,watson_keywords_q1-comment,watson_keywords_q2-comment,watson_keywords_q3-comment,watson_keywords_q4-comment,watson_keywords_q5-comment,watson_score_q1-comment,watson_score_q2-comment,watson_score_q3-comment,watson_score_q4-comment,watson_score_q5-comment
3,29,jonathan.rebouillon@gmail.com,26.0,True,True,2 ans,NaN,4,3,4,4,4,2,4,3,4,1,4,NaN,3,3,2,3,4,2,4,4,2,4,4,3,4,4,NaN,2,4,2,2,2,2,4,4,4,4,NaN,4,4,4,2,4,2,4,4,3,4,2,4,3,NaN,4,0,2,1,4,4,3,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30,Olivia.kurt@gmail.com,30.0,False,True,30,NaN,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,4,4,4,4,4,4,NaN,2,2,2,2,3,3,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,32,ornc44@gmail.com,32.0,False,True,22,NaN,0,0,0,0,1,0,0,1,0,0,4,NaN,2,3,4,0,0,2,2,2,4,3,0,4,0,1,NaN,0,0,0,0,0,0,4,3,3,2,NaN,2,2,2,0,4,1,1,0,3,4,3,3,4,NaN,2,0,0,0,0,0,0,4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,33,e.launay@live.fr,28.0,True,False,NaN,NaN,2,2,3,3,2,2,2,2,4,2,4,il faudra mettre en place un service de sécuri...,2,4,2,1,3,3,4,4,4,4,4,4,4,4,NaN,1,2,3,0,0,2,4,4,4,4,j'espère que les gares des bus ne ressembleron...,3,4,4,4,2,4,4,4,4,4,4,2,4,NaN,2,2,3,2,2,2,0,4,4,NaN,[],NaN,[],NaN,NaN,0.0,NaN,0.0,NaN,NaN
8,34,haguet.megane@gmail.com,26.0,True,True,26 ans,Baie des citrons,3,2,3,2,3,3,3,3,4,2,4,NaN,3,3,2,2,3,3,4,3,3,3,4,4,2,4,NaN,3,3,3,2,2,2,4,4,4,4,NaN,4,3,3,3,3,2,2,2,3,3,3,2,3,NaN,2,2,3,1,2,2,2,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,35,NaN,29.0,False,True,4,Magenta,2,2,2,2,1,2,2,3,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,2,3,2,2,2,1,3,2,3,3,NaN,2,3,3,3,4,2,2,3,3,2,3,3,2,NaN,0,2,2,2,3,2,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,36,fgambarotto@yahoo.fr,46.0,False,True,10,Tuband,2,2,2,2,2,2,3,3,1,1,1,NaN,1,3,3,3,3,2,3,3,3,3,4,4,4,3,NaN,3,2,2,2,2,2,1,2,2,2,NaN,3,1,1,2,3,3,3,3,2,2,2,2,2,NaN,3,2,2,3,3,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,38,marie.brenon@lagoon.nc,37.0,True,True,3 ans,Trianon,4,4,3,1,1,3,3,1,3,1,4,NaN,2,2,4,0,2,2,3,4,4,4,3,4,4,4,NaN,2,2,2,2,2,2,4,4,4,2,NaN,4,1,3,3,4,3,4,3,2,2,2,2,2,NaN,4,3,3,3,2,2,4,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,40,marie.c.22@hotmail.fr,29.0,True,True,1,NaN,2,2,2,3,3,3,2,2,3,2,3,NaN,3,3,3,3,3,3,3,3,3,0,2,4,2,3,NaN,2,3,3,3,2,2,4,4,2,4,NaN,4,4,3,4,3,4,4,2,4,4,2,2,4,NaN,3,2,2,2,2,2,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,41,micalonc@gmail.com,63.0,True,True,12,NaN,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,4,2,2,4,NaN,3,2,3,3,2,2,2,3,3,4,2,2,2,NaN,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,42,hregimbe@yahoo.fr,48.0,True,True,14,NaN,2,1,1,4,1,3,4,1,4,1,4,NaN,2,2,4,2,4,0,0,0,2,2,2,4,4,2,NaN,2,4,0,0,0,0,4,4,4,4,NaN,2,2,2,4,4,2,2,4,2,4,4,4,2,NaN,4,2,4,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,43,boris.valin@gmail.com,25.0,True,True,25 ans,ouémo,1,2,1,3,3,3,2,2,4,4,2,NaN,2,3,2,4,2,3,3,3,2,4,3,4,4,4,NaN,4,4,3,2,2,2,3,3,4,4,NaN,4,4,4,4,4,3,2,1,3,4,2,4,4,NaN,4,4,4,4,4,4,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,45,hnatrsnj@hotmail.com,31.0,False,True,NaN,Koutio,2,2,2,2,2,2,2,2,2,2,3,NaN,4,3,4,2,2,2,2,1,2,2,1,4,2,4,NaN,2,3,2,2,2,2,4,4,4,4,NaN,2,1,4,3,0,2,1,1,4,2,3,2,2,NaN,2,1,3,1,2,1,4,4,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,46,sjouault@gmail.com,47.0,True,True,10 ans,NaN,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,3,2,4,4,2,4,3,3,2,3,NaN,3,3,3,2,2,2,4,4,4,4,NaN,4,4,4,4,4,4,4,4,4,4,4,4,4,NaN,2,2,2,2,2,2,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,47,gilamii@free.fr,36.0,True,True,NaN,NaN,2,3,1,2,4,3,4,4,4,1,3,NaN,3,3,3,1,2,2,4,4,3,3,0,4,3,4,NaN,3,3,3,2,2,2,3,4,4,4,NaN,4,4,4,2,4,4,4,0,4,4,4,2,4,NaN,2,2,4,2,4,1,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,48,NaN,30.0,False,True,5,NaN,3,3,1,1,3,2,4,1,4,2,4,NaN,3,3,3,4,4,4,4,4,3,4,1,2,3,3,NaN,4,4,4,4,4,2,4,4,4,4,NaN,3,4,1,4,4,3,0,1,4,3,1,4,2,NaN,1,2,2,3,3,2,2,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,49,caledoguide@gmail.com,35.0,True,True,9,NaN,3,2,3,4,3,3,2,2,3,2,3,NaN,2,3,2,2,3,0,2,2,2,2,1,1,2,2,NaN,0,2,0,2,2,0,3,3,2,2,NaN,3,2,2,2,3,2,3,1,3,3,2,2,3,NaN,3,1,1,1,3,0,2,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,50,franck.dominici@gmail.com,36.0,True,True,8 ans,NaN,4,4,4,4,4,4,4,4,4,4,4,NaN,3,4,3,3,4,3,4,4,4,3,4,4,4,4,NaN,2,2,2,2,2,2,4,2,4,3,NaN,4,4,4,4,4,4,4,4,4,4,4,4,4,NaN,4,3,3,3,4,3,3,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,51,amd.brt@gmail.com,26.0,True,False,NaN,NaN,2,2,2,4,4,2,2,2,4,3,3,NaN,4,4,4,4,4,4,4,4,4,4,2,4,2,2,Permettre de pouvoir continuer de se garé,2,2,2,2,2,2,3,2,3,4,NaN,4,2,2,3,4,2,2,2,4,4,2,2,4,NaN,4,2,2,3,2,2,2,2,4,NaN,NaN,[],NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
35,52,sarltemad@gmail.com,31.0,False,False,NaN,NaN,3,3,3,3,1,3,3,3,3,3,3,NaN,3,3,3,3,3,3,3,3,3,3,3,3,3,2,NaN,3,3,3,3,2,3,3,3,3,3,NaN,3,3,3,3,3,3,3,3,3,3,3,3,3,NaN,3,3,3,3,3,3,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,53,NaN,NaN,False,False,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,4,4,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,3,4,2,2,2,4,2,2,2,NaN,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,54,NaN,30.0,False,True,4 ans,NaN,3,0,3,1,3,2,2,0,4,0,4,NaN,3,2,1,3,1,3,3,3,3,3,2,2,3,4,NaN,1,1,3,2,2,0,4,4,4,4,NaN,3,3,3,3,2,1,2,2,4,4,4,3,0,NaN,2,0,2,0,3,1,1,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,55,Caroline.frickbaconnais@gmail.com,28.0,False,True,NaN,NaN,1,1,2,2,2,2,2,2,3,1,4,NaN,3,3,4,4,3,2,2,0,2,3,1,4,3,1,NaN,2,2,0,1,0,0,4,2,2,4,NaN,3,2,2,1,2,2,2,0,4,4,2,0,1,NaN,1,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,56,Chloelibaude69@gmail.com,31.0,False,True,3 ans,Ouemo,3,2,1,3,1,3,4,4,1,2,4,NaN,0,3,0,0,2,2,2,2,2,2,2,3,3,3,NaN,1,2,2,3,3,2,3,2,3,2,NaN,0,0,2,2,0,2,2,2,2,2,2,0,2,NaN,0,3,3,3,3,3,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,57,niaouli@mls.nc,-59.0,True,True,6 ans,NaN,3,1,3,3,1,3,3,3,3,3,3,NaN,1,3,3,3,3,3,3,2,3,3,2,3,3,1,NaN,2,3,3,3,3,3,3,3,3,3,NaN,3,3,3,3,3,2,3,2,3,3,3,2,2,NaN,2,2,3,2,3,3,3,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,58,charlotte.daros@gmail.com,27.0,True,True,4,NaN,2,2,2,2,2,2,4,3,4,2,4,NaN,3,4,4,4,4,1,3,3,2,4,3,4,4,4,NaN,1,3,3,3,0,1,3,4,4,4,NaN,4,3,3,4,4,4,4,4,3,4,4,3,2,NaN,3,2,3,3,3,2,3,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,59,NaN,26.0,False,True,1 an,NaN,2,2,0,0,0,2,4,4,1,2,4,NaN,4,0,4,1,1,4,4,4,1,1,4,4,0,4,NaN,4,4,4,2,4,4,4,4,4,4,NaN,4,4,4,4,4,0,0,4,4,4,4,4,0,NaN,0,0,4,4,4,4,2,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,60,warrenmazoyer@hotmail.com,29.0,True,False,NaN,NaN,3,2,3,2,2,2,4,3,2,2,3,NaN,3,3,3,3,2,3,3,3,3,3,2,4,3,3,NaN,2,2,2,2,2,2,3,2,2,4,NaN,4,4,3,2,4,4,2,4,2,4,3,4,4,NaN,3,3,2,3,2,2,2,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,61,abisson@nautile.nc,44.0,False,False,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,NaN,4,4,2,3,3,2,2,3,4,4,4,4,1,3,NaN,2,3,2,2,2,2,2,4,4,3,NaN,2,4,4,4,4,2,2,3,2,3,2,3,4,NaN,2,2,2,2,2,2,2,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,62,jls@spo.nc,52.0,False,True,50,NaN,4,2,4,2,4,2,4,2,4,2,4,NaN,2,2,2,2,2,2,2,4,4,4,4,4,3,4,NaN,2,4,2,2,2,2,4,4,4,4,NaN,2,4,2,4,4,2,4,4,4,4,4,4,4,NaN,2,2,2,4,4,2,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,330,saubot.isabelle@gmail.com,50.0,True,True,20 ans,NaN,2,2,3,3,1,2,2,2,4,2,2,NaN,3,3,2,1,2,2,2,3,1,3,2,2,2,2,NaN,2,2,2,1,1,2,2,3,3,2,NaN,3,3,2,2,2,3,3,3,2,2,2,1,3,NaN,2,2,3,3,2,2,2,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,331,NaN,35.0,False,False,NaN,NaN,2,3,3,2,2,2,2,3,3,3,3,NaN,3,4,3,2,3,4,3,4,3,4,2,3,1,3,NaN,1,4,1,1,1,2,4,2,4,4,NaN,3,2,3,3,3,3,3,2,3,3,3,3,3,NaN,2,2,2,2,3,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,332,amatnelson@gmail.com,33.0,False,False,NaN,NaN,3,2,2,2,3,1,2,4,3,1,4,NaN,1,2,4,2,2,2,2,3,3,0,2,4,2,3,NaN,3,4,3,2,2,2,2,3,3,4,NaN,4,2,2,2,2,3,3,2,4,4,3,2,0,NaN,4,1,3,3,4,2,2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,333,NaN,44.0,False,False,NaN,NaN,3,1,4,1,3,3,1,1,3,1,4,NaN,4,4,4,1,2,2,4,4,4,4,2,4,4,4,NaN,2,2,2,2,2,2,2,2,2,2,NaN,4,4,4,4,4,4,4,1,4,4,2,4,3,NaN,3,2,3,3,3,2,3,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,334,Snowawe@gmail.com,33.0,True,True,NaN,NaN,3,2,3,3,3,3,3,3,3,3,3,NaN,3,3,3,3,2,3,2,2,3,3,4,4,3,3,NaN,4,3,4,4,4,2,4,4,4,4,NaN,4,3,4,4,4,3,3,3,4,4,3,3,3,NaN,4,4,4,4,4,3,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,336,karine.ezzine@secal.nc,42.0,True,False,NaN,NaN,3,0,3,2,3,2,3,2,2,1,2,NaN,3,3,2,2,2,1,2,2,3,3,3,2,3,2,NaN,3,3,2,1,1,3,3,3,3,4,NaN,3,3,3,3,3,4,3,3,3,3,3,1,3,NaN,4,1,3,1,3,1,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,337,christophe.andre@province-sud.nc,50.0,True,False,NaN,NaN,3,2,2,2,2,2,2,2,2,2,3,NaN,3,3,3,2,3,2,3,3,2,3,2,3,3,3,NaN,4,3,2,2,2,2,2,2,0,3,Quid de la (des) connection(s) piétonne vers l...,3,2,3,3,2,3,3,3,3,3,3,0,2,NaN,3,2,2,3,2,2,2,3,2,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0.0,NaN,NaN
401,338,valerie.klein-vervaele@province-sud.nc,46.0,True,True,15 ans,Tuband,2,1,2,2,1,2,1,3,2,2,3,NaN,2,3,3,2,3,1,2,2,2,2,3,3,2,2,NaN,1,4,1,1,1,2,4,4,4,4,NaN,4,1,3,3,2,3,3,3,3,3,3,2,2,NaN,1,3,1,3,3,3,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,339,NaN,60.0,False,True,10,vdc,3,2,2,3,4,1,1,3,1,3,1,NaN,0,2,0,0,2,0,0,0,4,3,4,4,4,3,NaN,4,4,4,4,4,4,4,4,4,4,NaN,4,4,4,4,4,0,0,0,2,0,4,0,4,NaN,2,2,2,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,340,lemomic@canl.nc,68.0,True,True,11 ans,Tina,3,3,3,2,1,4,3,1,3,1,4,NaN,2,3,3,2,3,2,4,3,4,4,2,4,3,4,NaN,2,3,2,2,2,3,3,4,4,4,NaN,4,4,4,4,4,4,3,2,3,4,3,3,3,NaN,4,2,3,3,3,2,3,3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,341,NaN,NaN,False,True,NaN,NaN,1,3,2,3,3,2,1,4,3,3,4,NaN,2,3,2,0,1,2,3,3,2,0,0,4,0,3,NaN,3,4,3,3,3,3,3,3,4,4,NaN,3,1,2,2,3,3,2,0,3,2,2,0,3,NaN,2,3,2,3,3,2,2,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,342,NaN,40.0,False,True,NaN,NaN,3,0,3,3,2,2,3,2,2,3,4,NaN,4,4,3,3,3,3,4,4,3,3,3,4,4,3,NaN,3,4,4,2,3,3,4,4,2,3,NaN,4,2,4,2,4,4,3,2,4,3,3,4,3,NaN,3,2,2,2,2,2,2,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,343,NaN,29.0,False,False,NaN,NaN,3,3,3,3,1,2,3,2,1,1,3,NaN,2,3,2,2,2,2,2,2,3,2,3,4,3,3,NaN,4,1,2,1,2,0,2,2,3,4,NaN,3,2,2,1,1,3,3,3,4,3,3,0,1,et merci les poussières de la SLN dans la pisc...,2,1,3,2,2,2,2,0,2,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0.902137,NaN
410,344,NaN,35.0,False,False,NaN,NaN,0,2,2,2,2,1,1,2,1,2,2,NaN,1,2,2,1,2,2,2,2,2,2,2,2,0,2,NaN,1,2,1,2,2,1,3,3,3,2,dommage d'avoir à déplacer des routes qui font...,4,1,3,3,0,1,1,3,2,3,3,0,2,anticiper les aménagements au vu des dégradati...,1,2,1,2,2,2,2,2,2,ne pas associer bars/boîtes de nuit et logemen...,NaN,NaN,[{'text': 'dépenses financières supplémentaire...,"[{'text': ""jets d'eau"", 'relevance': 0.980354}]",[],NaN,NaN,0.0,-0.308413,0.0
412,346,rousselot.sonia@yahoo.fr,51.0,False,True,25 ans,Kaméré,4,4,4,0,0,4,4,1,4,0,4,NaN,4,4,4,4,4,4,4,4,4,4,4,4,4,4,NaN,4,4,4,4,4,2,4,4,4,4,NaN,4,4,4,4,0,4,4,4,4,4,4,0,4,NaN,0,0,2,0,4,0,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
416,348,NaN,45.0,False,True,10 ans,NaN,4,2,2,2,3,2,3,2,2,3,4,NaN,4,4,4,2,3,2,3,2,4,4,4,4,3,4,NaN,3,4,2,2,2,2,2,4,4,4,NaN,4,4,4,3,4,4,4,4,4,4,4,2,2,NaN,4,2,3,3,2,2,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,349,evilous27@outlook.fr,56.0,False,True,29 ans,NaN,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,1,2,2,2,2,2,2,2,2,2,1,NaN,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,2,1,1,NaN,2,1,2,2,2,2,2,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,351,apeytaving@yahoo.fr,50.0,True,True,5 ans,Val plaisance,3,4,4,4,3,2,4,4,4,2,4,NaN,4,2,4,4,3,3,3,1,3,3,3,4,4,4,NaN,2,3,2,2,2,2,4,4,3,4,NaN,4,4,4,4,4,4,4,2,4,3,4,3,3,NaN,4,3,4,4,3,2,2,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,352,audrey.bastonero@province-sud.nc,29.0,True,True,3,NaN,3,2,2,2,3,3,3,3,3,3,3,NaN,2,3,2,2,3,3,3,3,2,3,1,3,3,3,NaN,2,3,2,2,2,2,3,3,3,4,NaN,3,2,3,3,2,2,3,3,2,2,3,2,2,NaN,4,3,2,3,3,3,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,353,NaN,29.0,False,True,2 ans,NaN,1,2,2,2,1,2,3,3,2,3,4,NaN,3,3,4,3,2,2,3,0,2,1,1,3,3,4,NaN,4,1,4,0,0,0,3,4,4,4,NaN,4,1,2,3,3,4,4,3,3,1,3,2,0,NaN,3,1,3,1,1,2,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,354,a.bonnefond@gmail.com,30.0,True,True,NaN,NaN,3,1,2,4,4,2,3,2,3,2,4,NaN,4,4,1,4,4,4,4,4,4,4,3,4,3,4,NaN,2,4,2,2,2,2,4,4,2,3,NaN,4,4,4,4,4,4,4,1,4,4,4,2,2,NaN,3,2,3,3,3,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,355,NaN,19.0,False,True,19 ans,Magenta,1,2,2,2,3,1,2,3,1,2,3,NaN,2,2,2,2,2,2,2,3,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,3,NaN,2,3,2,2,4,2,2,3,3,3,2,2,2,NaN,2,2,3,2,2,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,356,franfonba@corail.nc,71.0,True,True,10 ans,NaN,2,1,2,1,1,2,1,1,2,1,2,NaN,2,2,2,1,3,2,1,1,2,2,1,3,2,3,NaN,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,3,2,1,3,2,3,2,3,1,1,NaN,2,1,3,1,2,1,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,357,monia.diri@hotmail.com,33.0,False,True,33 ANS,NaN,3,3,3,3,3,3,3,3,3,3,3,NaN,3,3,3,3,3,2,3,3,3,3,2,3,3,3,NaN,3,3,2,2,2,3,3,3,3,3,NaN,4,4,4,4,4,4,4,4,4,4,4,4,4,NaN,3,3,3,3,3,2,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,358,ymelysabeth@gmail.com,NaN,True,False,NaN,NaN,1,3,4,1,3,3,2,4,3,3,3,NaN,2,4,4,4,4,4,4,4,4,4,0,3,3,4,NaN,3,3,3,3,3,4,4,4,4,4,NaN,2,4,2,4,4,4,2,0,2,4,4,4,2,NaN,0,0,3,0,3,2,4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,360,jenna.tual@gmail.com,30.0,False,False,NaN,NaN,2,2,2,3,2,2,2,2,2,2,4,NaN,2,4,4,4,4,1,2,2,4,4,2,4,2,4,NaN,1,4,2,0,1,2,2,1,2,4,Difficile de comprendre vos nouveaux aménageme...,4,4,4,4,4,3,3,2,4,4,4,4,3,NaN,3,2,2,2,3,2,1,3,3,NaN,NaN,NaN,"[{'text': 'gares routières', 'relevance': 0.95...",NaN,NaN,NaN,NaN,0.0,NaN,NaN
432,361,tristan.allignol@hotmail.fr,33.0,True,True,5 ans,NaN,2,2,2,2,2,2,3,3,3,3,4,NaN,3,4,4,4,4,4,3,3,3,3,2,4,3,4,NaN,2,3,2,2,2,2,4,4,4,4,NaN,4,4,4,4,4,4,4,4,4,4,4,4,3,NaN,4,4,4,4,3,4,4,2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,362,claude.dubarry@canl.nc,56.0,True,True,17 ans,NaN,3,2,2,3,2,2,4,2,2,2,4,NaN,2,3,4,3,2,4,1,2,3,4,3,4,4,4,NaN,4,4,4,4,4,2,4,4,4,4,NaN,4,4,4,4,2,4,4,4,4,4,4,1,2,NaN,4,4,3,2,2,2,2,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,363,NaN,38.0,False,True,11 ans,Haut Magenta,3,3,3,3,3,2,2,3,1,3,2,NaN,3,4,1,3,3,3,4,4,4,3,3,4,3,4,NaN,4,3,4,1,4,3,4,4,4,4,NaN,4,4,4,4,4,2,4,1,4,4,4,4,4,NaN,4,1,1,2,4,3,3,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,364,sarahd555@hotmail.com,28.0,False,True,3,Motor Pool,2,1,1,1,4,3,2,1,4,1,3,NaN,1,2,2,2,2,2,2,2,1,2,1,3,1,2,NaN,1,2,1,2,2,2,3,3,3,3,NaN,3,2,2,2,2,2,2,3,3,3,4,1,3,NaN,4,2,3,3,1,2,2,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
dfc = df[['text_q1-comment', 'text_q2-comment', 'text_q3-comment', 'text_q4-comment', 'text_q5-comment']]
q1 = pd.DataFrame(df['text_q1-comment'].to_frame().replace(np.nan, '', regex=True))
q2 = pd.DataFrame(columns=['score1', 'keyword1', 'score2', 'keyword2'])
q3 = pd.concat([q1, q2])
pd.options.display.max_rows = 999

for index, row in q3.iterrows():
    comment = row['text_q1-comment']
    r = Rake(language='french')
    if comment != "":
        r.extract_keywords_from_text(comment)
        x = r.get_ranked_phrases_with_scores()
#         print("COMMENT:", comment, "\nKEYWORD:", x[0][1], "\nSCORE:", x[0][0])
        row['keyword1'] = x[0][1]
        row['keyword2'] = x[1][1]
        row['score1'] = x[0][0]
        row['score2'] = x[1][0]
    else:
        row['keyword1'] = np.NaN
        row['keyword2'] = np.NaN
        row['score1'] = np.NaN
        row['score2'] = np.NaN
q3.dropna()

,keyword1,keyword2,score1,score2,text_q1-comment
7,faudra mettre,sécurité,4,1,il faudra mettre en place un service de sécuri...
71,public si aucune exposition,cette zone devrait regrouper,16,14.6667,Manque de visibilité pour les commerces envisa...
131,utiliser cet endroit,les futurs personnes,9,9,Dommage que des parkings disparaissent pour ce...
144,nouveau souffle,faudrait prévoir,4,4,Il faudrait prévoir un espace innovant pour do...
169,accueillir les touristes étrangers,ville les weekends,15.5,9,Et pourquoi pas un complexe de restauration-hô...
186,locaux partagés pourrait être revue,position,25,1,La position des bureaux et des locaux partagés...
263,aménager les quais citées,passerelle piéton,16,4,Pourquoi ne pas aménager les quais citées en f...
264,visualiser juste,plan,4,1,C'est difficile de visualiser juste avec le plan
281,ds logements types logements,proposer différents services,16,8.5,Y aur-t-il ds logements types logements de con...
325,les enfants,jeu,4,1,Y aura t-il des espaces de jeu pour les enfants?
372,différentes zones les espaces publics,les différents usages prévus,20.8333,16,Le café devrait donner plutôt sur les espaces ...

In [70]:
result = q3.dropna().sort_values(['score1'], ascending=[False])
result

,keyword1,keyword2,score1,score2,text_q1-comment
186,locaux partagés pourrait être revue,position,25,1,La position des bureaux et des locaux partagés...
372,différentes zones les espaces publics,les différents usages prévus,20.8333,16,Le café devrait donner plutôt sur les espaces ...
71,public si aucune exposition,cette zone devrait regrouper,16,14.6667,Manque de visibilité pour les commerces envisa...
263,aménager les quais citées,passerelle piéton,16,4,Pourquoi ne pas aménager les quais citées en f...
281,ds logements types logements,proposer différents services,16,8.5,Y aur-t-il ds logements types logements de con...
169,accueillir les touristes étrangers,ville les weekends,15.5,9,Et pourquoi pas un complexe de restauration-hô...
131,utiliser cet endroit,les futurs personnes,9,9,Dommage que des parkings disparaissent pour ce...
7,faudra mettre,sécurité,4,1,il faudra mettre en place un service de sécuri...
144,nouveau souffle,faudrait prévoir,4,4,Il faudrait prévoir un espace innovant pour do...
264,visualiser juste,plan,4,1,C'est difficile de visualiser juste avec le plan
325,les enfants,jeu,4,1,Y aura t-il des espaces de jeu pour les enfants?

In [74]:
result.to_csv('nltk_q1.csv')

In [ ]:
# dfc2 = pd.DataFrame(dfc.mean()*100, columns=['mean'])
# dfc.describe()